body{
    background-color: rgb(29, 23, 15);
}
.container{
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    background-color: beige;
}
.item{
    /* width: 200px; */
    height: 200px;
    background-color: rgb(92, 74, 53);
}
.item-3 {
    flex-grow: 1;

}